*{
    margin: 0;
    padding: 0;
}


input[type=text],input[type=email], input[type=password] {
    width: 60%;
    height: 20px;
    padding: 15px;
    background: rgba(255, 248, 220, 0);
    display: inline-block;
    margin: 0 auto 0;
    border: 1px solid grey;
}

/* style for all buttons*/
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0 auto 0;
    border: 1px;
    width: 20%;
    height: 20px;
}

/* style div container */
.container{
    margin: auto;
    padding: 0 35px;
    align:center;
}
    
