.container{
  border: 12px solid grey;
  border-width: 5px;
  margin:100px 150px 150px 150px;
  padding: 25px;
}
h1{
  text-align: center;
  color: blue;
}
.name-and-img{
  float: right;
  color: blue;

}

img{
  width:150px;
  height: 150px;
}

.AboutMe{
  text-align: justify;

}
th{
  color: blue;
}

table,th,td{
  border:hidden;
}
.Hobbies{
  color: blue;
}
.Skills{
  color: blue;
}
body{
  background-color: red;
}
